.lastname{
    margin-left: 75px;
}
.dob{
    margin-left: 100px;
}
.dobhead{
    margin-left: 330px;
}
.date{
    margin-left: 180px;
}
.phn{
    margin-left: 360px;
}
.phnbox{
    margin-left: 250px;
}
.phntext{
    margin-left: 240px;
}
.state{
    margin-left: 220px;
}